name: Daily stock data

on:
  schedule:
    - cron: "0 23 * * *" # Run ~2 hours after U.S. market close
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun src/index.ts predict --ticker="ABCL,BE,BMNR,CIEN,DLO,DNA,GEV,GLW,GOOGL,INTC,IONQ,OPEN,PLTR,POET,TSLA,UPST" --sort=asc
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: daily stock data update"
          file_pattern: public/*.csv
          github_token: ${{ secrets.GITHUB_TOKEN }}
